h2 {
    margin: 30px;
    margin-bottom: 120px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2cm;

    text-align: center;

    color: #F2F2F2;
}

div {
    color: #F2F2F2;
}